.buy-wrapper {
    padding-top: 8rem;
}

@media screen and (max-width: 768px) {
    .buy-wrapper {
      padding-top: 8rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .buy-wrapper {
      /* padding-top: 6.5rem; */
      padding-top: 0rem;
    }
  }
  
  @media screen and (max-width: 360px) {
    .buy-wrapper {
      padding-top: 4rem;
    }
  }