
/* * {
  box-sizing: border-box;
  font-family: 'Scto Grotesk A', Helvetica, Arial, sans-serif;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--light-color);
}

:root {
  --corporative-color: #1C4A69;
  --light-color: #F3F1E9;
  --nude-color: #E1D6C8;
  --taupe-color: #A68F6D;
  --dark-color: #2A2325;
} */

* {
  box-sizing: border-box;
  /* font-family: 'Scto Grotesk A', Helvetica, Arial, sans-serif; */
  font-family: 'WorkSansEL';
  /* background-color: var(--light-color); */
}

html {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* Prevenir el efecto overscroll/pull-to-refresh */
  overscroll-behavior-y: none;
}

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--light-color);
  /* Prevenir el efecto overscroll/pull-to-refresh */
  overscroll-behavior-y: none;
  scroll-behavior: smooth; 
}

:root {
  --corporative-color: #18243A;
  --corporative-transparent-color: #18243ace;
  --light-color: #F1F1ED;
  --light-transparent-color: #f1f1edc7;
  --light-transparent-gradient: linear-gradient(to top, rgba(243, 241, 233, 0.8), rgba(243, 241, 233, 0));
  --nude-color: #E1D6C8;
  --taupe-color: #A69277;
  --taupe-light-color: #b8aa8e;

  --dark-color: #3B3B3C;
  --sand-color: #E3E1D9;
  --darksand-color: #A59E8C;
  --prueba-color: #88979D;
  --or-color: #AB976E;
  --grey-color: #DAD4D1;


  --main-font: 'Scto Grotesk A', Helvetica, Arial, sans-serif;
  /* --serif-one-font: 'Artaza-regular', serif; */
  /* --serif-one-font: 'Playfair', serif; */
  --serif-one-font: 'Playfair', serif;
  --serif-second-font: Georgia, 'Times New Roman', Times, serif;
  --sans-serif-2: 'WorkSans';

  /* --serif-one-font: 'Artaza-regular', serif; */
}