/* Properties.css */
.properties-container {
    /* margin-top: 8rem; */
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.filter-properties {
    margin-bottom: 2rem;
  }

.properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;

    grid-auto-rows: 1fr; /* Esto hace que todas las filas tengan la misma altura */
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 4rem;
}

.pagination-button {
    /* padding: 0.5rem; */
    width: 2rem;  /* o el tamaño que prefieras */
    height: 2rem;
    padding: 0;
    border: 1px solid var(--corporative-color);
    background-color: transparent;
    color: var(--corporative-color);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.pagination-button:hover {
    /* background-color: var(--nude-color); */
    /* border-color: #cbd5e0; */
    scale: 1.1;
}

.pagination-button.active {
    background-color: var(--corporative-color);
    color: var(--light-color);
    border-color: var(--corporative-color);
}

/* Responsive design */
@media (max-width: 1024px) {
    .properties-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 640px) {
    .properties-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .properties-container {
        padding: 20px 16px;
    }
}