/* Properties.css */
.properties-container {
    margin-top: 0rem;
    margin-bottom: 5rem;
}

.filter-properties {
    margin-bottom: 2rem;
  }

.properties-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    grid-auto-rows: 1fr;
}

/* Paginación */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 4rem;
}

.pagination-button {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    background-color: transparent;
    color: rgb(186, 186, 186);
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
}

.pagination-button:hover {
    scale: 1.1;
}

.pagination-button.active {
    color: var(--dark-color);
    border: none;

}

/* Responsive design */
@media (max-width: 1024px) {
    .properties-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 640px) {
    .properties-grid {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    
    .properties-container {
        padding: 0rem;
    }
}