.valuation-wrapper {
  text-align: center;
  padding: 3rem 3rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: var(--nude-color); */
  /* background-color: #A89378; */
  margin-top: 3rem;
  background-color: var(--sand-color);
  min-height: 80vh;
}

.valuation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* .two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

/* .valuation-pictures {
  display: flex;
  flex-direction: row;
  height:80vh; 
  justify-content: center;
  align-items: center;
  width: 100%; 
}
.valuation-pictures img {
  height: 80vh; 
  object-fit: cover; 
  width: 50%; 
  flex: 1; 
  object-position: center;
  filter: brightness(0.9);
} */

.valuation-container h2 {
  font-size: 2.2rem;
  margin-bottom: 2.2rem;
  font-weight: 100;
  color: var(--corporative-color);
  opacity: 0;
  font-family: var(--serif-one-font);
  width: 90%;
}

.valuation-container p {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 100;
  color: var(--dark-color);
  opacity: 0;
}

.valuation-container button {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.valuation-wrapper.visible .valuation-container h2 {
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.2s;
}

.valuation-wrapper.visible .valuation-container p {
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.4s;
}

.valuation-wrapper.visible .valuation-container button {
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.8s;
}


/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .valuation-wrapper {
    padding: 2.5rem 1.5rem;
    padding-bottom: 3rem;
  }
  
  .valuation-container h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }
  
  .valuation-container p {
    margin-bottom: 2rem;
    padding: 0 0.5rem;
  }
}

/* Para teléfonos muy pequeños */
@media screen and (max-width: 480px) {
  .valuation-wrapper {
    padding: 2rem 1rem;
    padding-bottom: 2.5rem;
    min-height: 70vh;

  }
  
  .valuation-container h2 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  
  .valuation-container p {
    font-size: 0.9rem;
    margin-bottom: 1.8rem;
  }
}