@font-face {
    font-family: 'Artaza-regular';
    src: url('/fonts/SortsMillGoudy-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Artaza-italic';
    src: url('/fonts/SortsMillGoudy-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Baskerville';
    src: url('/fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair';
    src: url('/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Teodor';
    src: url('/fonts/TeodorTRIALVF-Uprights-BF72198fbb0fb8.ttf') format('truetype');
}

@font-face {
    font-family: 'TeodorThin';
    src: url('/fonts/TeodorTRIAL-Thin-BF672198fb9fdb1.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSans';
    src: url('/fonts/WorkSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'WorkSansEL';
    src: url('/fonts/WorkSans-ExtraLight.ttf') format('truetype');
}