.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  color: var(--light-color);
  background-color: var(--corporative-color);
  z-index: 3;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex: 0.7;
}

.footer-image {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  text-align: flex-end;
  /* justify-content: flex-end; */
}

.footer-one,
.footer-two,
.footer-three,
.footer-four {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* gap: 3rem; */
}

.footer-wrapper h3 {
  font-family: var(--serif-one-font);
  font-size: 1rem;
  margin-bottom: 0.1rem;
  font-weight: 100;
  /* opacity: 0.7; */
}

.footer-content p {
  font-size: 0.9rem;
  font-weight: 100;
  /* opacity: 0.7; */
  /* margin-bottom: 0.4rem;
  margin-top: 0.4rem; */

}

.footer-image h3 {
  text-align: center;
  margin-bottom: 2rem;
  align-items: right;
}

.whatsapp-icon {
  display: flex;
  align-items: right;
  justify-content: center;
}


.whatsapp-icon img {
  width: 180px;
  height: auto;
}

.footer-four a {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer-four a:hover {
  opacity: 0.7;
}