.footer-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--corporative-color);
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  padding: 3rem;
  color: var(--light-color);
  background-color: var(--corporative-color);
  z-index: 3;
  margin-top: 0rem;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  border-top: 0.5px solid white;
}

.footer-image {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: flex-end;
  background-color: var(--corporative-color);
  padding-top: 4rem;
  position: relative;
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon img {
  width: 80px;
  height: auto;
}

.footer-one,
.footer-two,
.footer-three,
.footer-four, 
.footer-five,
.footer-six{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
}

.footer-wrapper h3 {
  font-family: var(--serif-one-font);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 200;
  margin-top: 3rem;

}

.footer-content p {
  font-size: 0.8rem;
  font-weight: 100;
}

.footer-four a {
  text-decoration: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.footer-four h3 {
  margin-top: 1rem;
}

.footer-four .first-child {
  margin-top: 3rem;
}

.footer-four a:hover {
  opacity: 0.7;
}


.footer-foot {
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  color: var(--light-color);
  background-color: var(--corporative-color);
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 1rem;
}

.footer-foot h3 {
  font-family: var(--serif-one-font);
  font-size: 0.9rem;
  margin-bottom: 0.1rem;
  font-weight: 100;
}

.footer-foot a {
  color: inherit; 
  text-decoration: none;
  font-family: inherit;
  font-style: italic;
}

.footer-foot a:hover {
  text-decoration: underline;
}

.footer-link, .footer-active-link {
  color: inherit;
  text-decoration: none;
  display: block;
  transition: transform 0.2s ease;
}

.footer-link:hover {
  transform: translateX(5px);
}

.footer-active-link {
  font-weight: bold;
}

.footer-link-text {
  display: inline-block;
}

.interior-divs p {
  margin: 0.5rem 0;
}


.footer-two h4 {
  font-weight: 100;
  font-size: 0.8rem;
}

/* Modificación específica para footer-two */
.footer-two {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  text-align: center;
}

/* Contenedor para organizar las columnas de horarios */
.time-schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.2rem;
}

.time-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 1rem;
}

.time-label-footer {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.time-hours-footer {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
}


/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    padding: 2rem 1.5rem;
  }
  
  .footer-content {
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 1.5rem;
  }
  
  .footer-image {
    flex: 1;
    margin-top: 0rem;
    text-align: center;
  }
  
  .footer-one,
  .footer-two,
  .footer-three {
    margin-bottom: 0.5rem;
  }
  
  .footer-image h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .footer-content p {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
  }
  
  .logo-icon {
    justify-content: center;
  }
  
  .logo-icon img {
    width: 80px;
  }
  
  .footer-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .footer-four .first-child {
    margin-top: 1rem;
  }
  
  .footer-four a {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 480px) {
  .footer-wrapper {
    padding: 1.5rem 1rem;
  }
  
  .footer-wrapper h3 {
    font-size: 0.9rem;
  }
  
  .footer-content p {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
  }
  
  .logo-icon img {
    width: 60px;
  }
  
  .footer-content {
    gap: 1rem;
  }

  .footer-four a {
    margin-right: 0.7rem;
    margin-bottom: 0.4rem;
  }

  .footer-four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .footer-four .first-child {
    margin-top: 1rem;
  }

  .footer-foot {
    display: flex;
    flex-direction: column-reverse;  }
}


.scroll-to-top-button {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: 300;
  color: var(--light-color);
}

/* Añadimos la flecha alargada */
.scroll-to-top-button::after {
  content: "↑";
  display: block;
  transform: scaleY(1.6); /* Flecha más alargada */
  transition: transform 0.3s ease;
}

.scroll-to-top-button:hover {
  transform: translateY(-60%);
}

.scroll-to-top-button:hover::after {
  transform: scaleY(1.8); /* Se alarga aún más al hacer hover */
}