.glimpse-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: var(--nude-color);
    padding: 0rem;
}

/* Contenedor principal con posicionamiento relativo para los botones */
.view-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glimpse-scrollable-content {
    display: flex;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.glimpse-scrollable-content::-webkit-scrollbar {
    display: none;
}

.intro-content {
    flex: 0 0 50%;
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem;
    background-color: var(--corporative-color, #b8aa8e);
    color: var(--light-color);
}

.intro-content-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .intro-content-one h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.intro-content-one h3 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0 0 0;
} */

.intro-content h1 {
    font-size: 1.8rem;
    font-weight: 100;
    color: var(--light-color);
    font-family: var(--serif-one-font);
    text-align: right;

}

.intro-content h1 em {
    font-family: inherit;
    font-family: var(--serif-italic);
      font-style: italic;
      font-size: 2rem;
  }

  .intro-content h2 {
    margin-top: auto;
    text-align: right;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--serif-one-font);
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    padding-bottom: 5px;
  }

.footer-text h1 {
    text-transform: none;
}

.footer-text {
    margin-top: auto;
    text-align: right;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--serif-one-font);
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    padding-bottom: 5px;
}

/* .footer-text::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
    height: 1px;
    background-color: var(--light-color);
    margin: 0 auto;
    transition: all 0.3s ease;
} */

.footer-text:hover::after {
    width: 40%;
    right: 2.5%;
}


/* Imágenes en el carrusel */

/* .image-container {
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 500px; 
    overflow: hidden; 
} */

.glimpse-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* Cambiado a cover para llenar el contenedor */
    object-position: center;
    /* Centrar la imagen */
}

/* .glimpse-image {
    height: 100%;
    width: auto;
    object-fit: cover;
    flex-shrink: 0; 
} */

.scroll-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    background-color: var(--corporative-transparent-color);
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.scroll-arrow:hover {
    background-color: var(--corporative-color);
}

.left-arrow {
    left: 20px;
    color: var(--corporative-color);
    background-color: transparent;

}

.left-arrow:hover {
    left: 20px;
    color: var(--light-color);
    background-color: var(--corporative-transparent-color);
}

.right-arrow {
    right: 20px;
}

.scroll-progress {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: white;
    border-radius: 2px;
    transition: width 0.3s ease;
}

@media (max-width: 992px) {
    .intro-content {
        flex: 0 0 100%;
        min-width: 100%;
        height: 300px;
        padding: 2rem;
    }

    /* .glimpse-scrollable-content {
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
    } */

    .glimpse-image {
        width: 100%;
        height: auto;
    }

    .intro-content h2 {
        font-size: 3rem;
    }

    .intro-content h3 {
        font-size: 2.5rem;
    }

    .footer-text {
        font-size: 2rem;
    }

    .left-arrow,
    .right-arrow {
        display: none;
    }
}

@media (max-width: 768px) {
    .glimpse-wrapper {
        padding: 1.5rem;
    }

    .intro-content {
        height: 250px;
        /* flex: 0 0 100%; */

    }

    .intro-content h2 {
        font-size: 2.5rem;
    }

    .intro-content h3 {
        font-size: 2rem;
    }

    .footer-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .glimpse-wrapper {
        padding: 1rem;
        max-height: 65vh;
        background-color: var(--corporative-color);

    }

    .intro-content {
        /* height: 200px; */
        padding: 1.5rem;
        /* min-height: 70vh; */
        height: 60vh;
        flex: 0 0 40%;     
        min-width: 60%; 
        justify-content: flex-end;  

}



    .intro-content h2 {
        font-size: 1.5rem;
    }

    .intro-content h3 {
        font-size: 1.5rem;
    }

    .footer-text h1 {
        font-size: 1.1rem;
    }

    .intro-content h1 em {
        font-family: inherit;
        font-family: var(--serif-italic);
          font-style: italic;
          font-size: 1.3rem;
      }

    .footer-text {
        font-size: 1.2rem;
    }

    .scroll-progress {
        display: none;
    }

    .progress-bar {
        display: none;
    }
}