.section-inmolocation {
    width: 100%;
    height: auto;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.inmolocation-inner {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-top: 2px solid var(--dark-color);
    padding-bottom: 5rem;
}


/*left*/
.inmolocation-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inmolocation-left h1,
.inmolocation-left h3,
.inmolocation-left button {
    opacity: 0;
}

.section-inmolocation.visible .inmolocation-left h1 {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.2s;
}

.section-inmolocation.visible .inmolocation-left h3 {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.4s;
}

.section-inmolocation.visible .inmolocation-left button {
    animation: fadeIn 1s ease forwards;
    animation-delay: 1s;
}

.inmolocation-left h1 {
    font-size: 4rem;
    font-weight: 100;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.inmolocation-left h3 {
    font-size: 1.1rem;
    font-weight: 100;
    width: 80%;
    line-height: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        /* transform: translateY(40px); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}


/*right*/
.inmolocation-right {
    flex: 1;
    display: flex;
    /* align-items: flex-end;
    flex-direction: column;
    justify-content: center; */

    justify-content: center;
    align-items: center;
    text-align: center;
}

.inmolocation-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 580px;
    opacity: 0;
}

.section-inmolocation.visible .inmolocation-right img {
    animation: revealFromTop 1s ease forwards;
}

@keyframes revealFromTop {
    0% {
        opacity: 0;
        transform: translateY(-5px);
        filter: blur(2px);
    }

    30% {
        opacity: 0.3;
        transform: translateY(-3px);
        filter: blur(1px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}