.section-inmolocation {
    width: 100%;
    height: auto;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.inmolocation-inner {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-top: 2px solid var(--dark-color);
    padding-bottom: 5rem;
}



.inmolocation-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inmolocation-left h1 {
    font-size: 4rem;
    font-weight: 100;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

.inmolocation-left h3 {
    font-size: 1.1rem;
    font-weight: 100;
    width: 80%;
    line-height: 1.5rem;
}


.inmolocation-right {
    flex: 1;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .inmolocation-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 580px;
} */

.inmolocation-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 580px;
    opacity: 0; 
}

.section-inmolocation.visible .inmolocation-right img {
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(40px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.carousel-location {
    padding: 0rem 3rem;
}

.carousel-location h3 {
    font-size: 2rem;
    font-weight: 100;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1.4rem;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid var(--dark-color);
}