.section-propertiesland {
    width: 100%;
    height: auto;
    padding-top: 2.5rem;
    /* margin-bottom: 3rm; */
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.propertiesland-inner {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 0rem;
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);

    /* padding-bottom: 5rem; */
}

/*left*/
.propertiesland-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.propertiesland-left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* max-width: 580px; */
    opacity: 0;
    aspect-ratio: 1 / 1;
}

.section-propertiesland.visible .propertiesland-left img {
    animation: revealFromTop 1.3s ease forwards;
}

@keyframes revealFromTop {
    0% {
        opacity: 0;
        transform: translateY(-5px);
        filter: blur(2px);
    }

    30% {
        opacity: 0.3;
        transform: translateY(-3px);
        filter: blur(1px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}


/*right*/
.propertiesland-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position: relative;
}

.propertiesland-right .top-line {
    top: 0rem;
    height: 80px; /* Ajusta según el espacio disponible arriba */
}

.propertiesland-right .bottom-line {
    bottom: 0rem;
    height: 60px; /* Ajusta según el espacio disponible abajo */
}

.propertiesland-right h1,
.propertiesland-right h3,
.propertiesland-right button {
    opacity: 0;
}

.section-propertiesland.visible .propertiesland-right h1 {
    /* animation: fadeIn 1s ease forwards; */
    animation: fadeInClipped 1s ease-out forwards;
    animation-delay: 0.4s;
}

.section-propertiesland.visible .propertiesland-right h3 {
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.8s;
}

.section-propertiesland.visible .propertiesland-right button {
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.3s;
}

.propertiesland-right h1 {
    /* font-size: 3.5rem;
    font-weight: 100;
    color: var(--dark-color);
    font-family: Georgia, 'Times New Roman', Times, serif; */
    text-transform: uppercase;

    font-size: 2.5rem;
    font-weight: 100;
    color: var(--corporative-color);
    font-family: var(--serif-one-font);
}

.propertiesland-right h3 {
    font-size: 1rem;
    font-weight: 100;
    width: 60%;
    line-height: 1.5rem;
    margin-bottom: 0rem;
    color: var(--corporative-color);
}


/**/
/* Media queries para dispositivos móviles */
@media screen and (max-width: 820px) {
    .section-propertiesland {
        padding-top: 4rem;
    }

    .propertiesland-inner {
        flex-direction: column;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        gap: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }

    .propertiesland-right {
        order: -1;
        /* Mueve el texto arriba */
    }

    .propertiesland-right h1 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .propertiesland-right h3 {
        width: 100%;
        font-size: 1rem;
        margin-bottom: 2rem;
    }

    .propertiesland-left img {
        max-width: 100%;
        aspect-ratio: 4/3;
        /* Proporción 4:3 para la imagen */
        object-fit: cover;
        margin-top: 1rem;
    }
    
    /* Animaciones modificadas para tablets/móviles */
    @keyframes fadeInMobile {
        0% {
            opacity: 0;
            transform: translateY(10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes revealFromTopMobile {
        0% {
            opacity: 0;
            transform: translateY(-3px);
            filter: blur(1px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
            filter: blur(0);
        }
    }

    /* Secuencia de animaciones para tablet/móvil */
    .section-propertiesland.visible .propertiesland-right h1 {
        animation: fadeInMobile 0.8s ease forwards;
        animation-delay: 0.1s;
        /* Primera en aparecer */
    }

    .section-propertiesland.visible .propertiesland-right h3 {
        animation: fadeInMobile 0.8s ease forwards;
        animation-delay: 0.9s;
        /* Después del título */
    }

    .section-propertiesland.visible .propertiesland-left img {
        animation: revealFromTopMobile 0.8s ease forwards;
        animation-delay: 1.7s;
        /* Después del texto */
    }

    .section-propertiesland.visible .propertiesland-right button {
        animation: fadeInMobile 0.8s ease forwards;
        animation-delay: 2.5s;
        /* Al final */
    }
}

/* Para teléfonos muy pequeños */
@media screen and (max-width: 480px) {
    .propertiesland-inner {
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 1rem;
        gap: 1rem;
    }

    .propertiesland-right {
        /* flex: 1;
        display: flex;
        flex-direction: column; */
        /* justify-content: left; */
        align-items: flex-start;
        text-align: left;
    
        /* position: relative;  */
    }

    .propertiesland-right h1 {
        margin-top: 1rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    .propertiesland-right h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid var(--grey-color);
        padding-top: 1.5rem;
        width: 100%;
    }

    .propertiesland-left img {
        max-width: 100%;
        aspect-ratio: 1/1;
        /* Proporción 4:3 para la imagen */
        object-fit: cover;
        margin-top: 3rem;
    }
    
    /* Animaciones más rápidas para teléfonos muy pequeños */
    @keyframes fadeInMobileSmall {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .section-propertiesland.visible .propertiesland-right h1 {
        animation: fadeInMobileSmall 0.8s ease forwards;
        animation-delay: 0.2s;
        /* Primera en aparecer */
    }

    .section-propertiesland.visible .propertiesland-right h3 {
        animation: fadeInMobileSmall 0.8s ease forwards;
        animation-delay: 0.9s;
        /* Después del título */
    }


    .section-propertiesland.visible .propertiesland-right button {
        animation: fadeInMobileSmall 0.8s ease forwards;
        animation-delay: 1.5s;
        /* Al final */
    }

    .section-propertiesland.visible .propertiesland-left img {
        animation: revealFromTopMobile 0.6s ease forwards;
        animation-delay: 2.2s;
        /* Después del texto */
    }
}