.header-container {
    height: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1200;
    transition: background-color 0.5s ease;
}

.header:hover {
    background-color: var(--light-transparent-color);
}

.header.menu-open {
    background-color: var(--light-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 68px;
    width: auto;
    transition: filter 0.3s ease;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    user-select: none;
    z-index: 1100;
}

.language-selector span {
    font-size: 1rem;
    transition: font-weight 0.3s;
    transition: color 0.3;
    font-weight: 300;
}

/*cambiado*/
.header:not(:hover):not(.menu-open) .language-selector span {
    color: var(--corporative-color);
}

.header:hover .language-selector span,
.header.menu-open .language-selector span {
    color: var(--corporative-color);
}

.language-selector .active {
    font-weight: 700;
}

.language-selector .divider {
    color: var(--corporative-color);
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1100;
}

.hamburger-line {
    width: 24px;
    height: 1.5px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.header:not(:hover):not(.menu-open) .hamburger-line {
    background-color: var(--corporative-color);
}

.header:hover .hamburger-line,
.header.menu-open .hamburger-line {
    background-color: var(--corporative-color);
}

.hamburger-line.top {
    transform: translateY(-6px);
}

.hamburger-line.bottom {
    transform: translateY(6px);
}

.hamburger-button.active .hamburger-line.top {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.hamburger-button.active .hamburger-line.bottom {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.hamburger-button.active .hamburger-line.top,
.hamburger-button.active .hamburger-line.middle,
.hamburger-button.active .hamburger-line.bottom {
    transition: transform 0.2s ease-in-out 0.2s;
}

.hamburger-button.active .hamburger-line.top,
.hamburger-button.active .hamburger-line.middle {
    transform: rotate(45deg);
}

.hamburger-button.active .hamburger-line.bottom {
    transform: rotate(-45deg);
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background-color: var(--light-color);
    padding-top: 100px;
    z-index: 1050;
    overflow-y: auto;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.3s ease;
    transform: translateX(100%);
}

.nav-menu.show {
    transform: translateX(0);
    opacity: 1;
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0 3rem;
    text-align: right;
}

.nav-menu li {
    margin: 3.5rem 0;
    border-bottom: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.nav-menu.show li:nth-child(1) {
    transition-delay: 0.1s;
}

.nav-menu.show li:nth-child(2) {
    transition-delay: 0.2s;
}

.nav-menu.show li:nth-child(3) {
    transition-delay: 0.3s;
}

.nav-menu.show li:nth-child(4) {
    transition-delay: 0.4s;
}

.nav-menu li:last-child {
    border-bottom: none;
}

.nav-menu.show li {
    opacity: 1;
    transform: translateY(0);
}

.nav-menu a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.2rem;
    font-weight: 300;
    transition: color 0.3s;
    transition: background-color 0.3s;
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding: 0.5rem;
}

.nav-menu a.active-link {
    color: var(--corporative-color);
    font-weight: 400;
}

/* Si quieres también aplicar el estilo al ícono */
.nav-menu a.active-link .nav-arrow {
    color: var(--corporative-color);
}

.nav-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-text {
    text-align: right;
}

.nav-arrow {
    order: -1;
    opacity: 1;
    margin-right: auto;
    font-size: 16px !important;
    width: 16px !important;
    height: 16px !important;
}

.nav-menu a:hover {
    color: var(--corporative-color);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    pointer-events: none;
}

.menu-overlay.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mini-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1051;
    padding-right: 1rem;
}

.mini-logo img {
    width: 40px;
    height: auto;
    opacity: 1;
}


.mini-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1051;
    padding-right: 1rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: 0.5s;
}

.nav-menu.show .mini-logo {
    opacity: 1;
    transform: translateY(0);
}


/*Header siempre con fondo claro si estamos en comprar o contacto*/
.header.force-light {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.header.force-light .language-selector span,
.header.force-light:hover .language-selector span {
    color: var(--corporative-color) !important;
}

.header.force-light .hamburger-line,
.header.force-light:hover .hamburger-line {
    background-color: var(--corporative-color) !important;
}


/*secciones-con-fotos*/
/* Estilos para secciones con fondos de fotos (texto blanco) */
.header.white-section-active:not(:hover):not(.menu-open) {
    background-color: transparent;
}

.header.white-section-active:not(:hover):not(.menu-open) .logo img {
    filter: brightness(1); 
}

.header.white-section-active:not(:hover):not(.menu-open) .language-selector span {
    color: var(--light-color);
}

.header.white-section-active:not(:hover):not(.menu-open) .hamburger-line {
    background-color: var(--light-color);
}